<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- SBU Beans -->
    <bean id="sbu1" class="com.example.lab1.xmlconfig.lab1_2.SBU">
        <constructor-arg index="0" value="10" type="int"/>
        <constructor-arg index="1" value="Human Resourses"/>
        <constructor-arg index="2" value="HR-BU"/>
        <constructor-arg index="3" value="Steve Rogers"/>
    </bean>
    <bean id="sbu2" class="com.example.lab1.xmlconfig.lab1_2.SBU">
        <constructor-arg index="0" value="11" type="int"/>
        <constructor-arg index="1" value="Development"/>
        <constructor-arg index="2" value="DEV-BU"/>
        <constructor-arg index="3" value="Bruce Banner"/>
    </bean>
    <bean id="sbu3" class="com.example.lab1.xmlconfig.lab1_2.SBU">
        <constructor-arg index="0" value="12" type="int"/>
        <constructor-arg index="1" value="Research &amp; Development"/>
        <constructor-arg index="2" value="RnD-BU"/>
        <constructor-arg index="3" value="Tony Stark"/>
    </bean>
    <bean id="sbu4" class="com.example.lab1.xmlconfig.lab1_2.SBU">
        <constructor-arg index="0" value="14" type="int"/>
        <constructor-arg index="1" value="Management"/>
        <constructor-arg index="2" value="MAN-BU"/>
        <constructor-arg index="3" value="Natasha Romonoff"/>
    </bean>

    <!--  Employee Beans  -->

    <bean id="emp1" class="com.example.lab1.xmlconfig.lab1_2.Employee">
        <constructor-arg index="0" value="101" type="int"/>
        <constructor-arg index="1" value="Harry Potter"/>
        <constructor-arg index="2" value="45000" type="double"/>
        <constructor-arg index="3" ref="sbu1"/>
    </bean>
    <bean id="emp2" class="com.example.lab1.xmlconfig.lab1_2.Employee">
        <constructor-arg index="0" value="102" type="int"/>
        <constructor-arg index="1" value="Ron Weasly"/>
        <constructor-arg index="2" value="55000" type="double"/>
        <constructor-arg index="3" ref="sbu2"/>
    </bean>
    <bean id="emp3" class="com.example.lab1.xmlconfig.lab1_2.Employee">
        <constructor-arg index="0" value="103" type="int"/>
        <constructor-arg index="1" value="Hermione Granger"/>
        <constructor-arg index="2" value="75000" type="double"/>
        <constructor-arg index="3" ref="sbu3"/>
    </bean>
    <bean id="emp4" class="com.example.lab1.xmlconfig.lab1_2.Employee">
        <constructor-arg index="0" value="104" type="int"/>
        <constructor-arg index="1" value="Draco Malfoy"/>
        <constructor-arg index="2" value="75000" type="double"/>
        <constructor-arg index="3" ref="sbu4"/>
    </bean>
</beans>